<?xml version="1.0"?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment Id='SamplesFragment'> 
    <DirectoryRef Id='SampleDir'> 
		<Directory Id="TableEditor" Name="Table Editor">
			<Directory Id="teCS" Name="cs">
				<Component Id="Sample1CS" Guid="2EC82711-B56E-496d-9035-7BB5A2359D6F">
					<File Id="teCS1" Name="App.ico" src="..\Samples\TableEditor\cs\App.ico" DiskId="1"/>
					<File Id="teCS2" Name="AssemblyInfo.cs" src="..\Samples\TableEditor\cs\AssemblyInfo.cs" DiskId="1"/>
					<File Id="teCS3" Name="Form1.cs" src="..\Samples\TableEditor\cs\Form1.cs" DiskId="1"/>
					<File Id="teCS4" Name="Form1.resx" src="..\Samples\TableEditor\cs\Form1.resx" DiskId="1"/>
					<File Id="teCS5" Name="TableEditor.csproj" src="..\Samples\TableEditor\cs\TableEditor.csproj" DiskId="1"/>
					<File Id="teCS7" Name="TableEditor.build" src="..\Samples\TableEditor\cs\TableEditor.build" DiskId="1"/>
				</Component>
			</Directory>
			<Directory Id="teVB" Name="vb">
				<Component Id="Sample1VB" Guid="E96D0201-7A2F-40a8-BCB7-BC23AB6910B6">
					<File Id="teVB2" Name="AssemblyInfo.vb" src="..\Samples\TableEditor\vb\AssemblyInfo.vb" DiskId="1"/>
					<File Id="teVB3" Name="Form1.vb" src="..\Samples\TableEditor\vb\Form1.vb" DiskId="1"/>
					<File Id="teVB4" Name="Form1.resx" src="..\Samples\TableEditor\vb\Form1.resx" DiskId="1"/>
					<File Id="teVB5" Name="TableEditor.vbproj" src="..\Samples\TableEditor\vb\TableEditor.vbproj" DiskId="1"/>
					<File Id="teVB7" Name="TableEditor.build" src="..\Samples\TableEditor\vb\TableEditor.build" DiskId="1"/>
				</Component>
			</Directory>
		</Directory>
    </DirectoryRef> 

	<Feature Id='Samples' Level='1' Title='Samples' Description='Sample Applications'>
		<Feature Id='CSSamples' Level='1' Title='CSharp' Description='Sample CSharp Applications' InstallDefault='local'>
			<ComponentRef Id='Sample1CS'/>
		</Feature>
		<Feature Id='VBSamples' Level='1' Title='Visual Basic' Description='Sample Visual Basic Applications' InstallDefault='local'>
			<ComponentRef Id='Sample1VB'/>
		</Feature>
	</Feature>

	</Fragment> 
</Wix> 


